/* TELA DE SERVIÇOS */


.texto-servicos {
  text-align: center;
  font: Inter, sans-serif;
  font-size: 3.7rem;
  font-weight: 600;
  margin-top: 10%;
  color: #2B2621;
}

@media (max-width: 768px) {
  .texto-servicos {
    text-align: center;
    font: Inter, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 210%;
    margin-bottom: 10%;
  } 
}


.slider{
  margin: 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  margin-left: 10%;
  border-radius: 20px;  
  
}

@media (max-width: 768px) {
  .slider{
    align-items: center;
    margin: 0;
    width: 300px;
    height: 350px;
    overflow: hidden;
    margin-left: 10%;
    border-radius: 20px;  
  }
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}
.slide img{
  width: 350px;
}
.manual-navigation{
  position: absolute;
  width: 350px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .manual-navigation{
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: -85px;
  }
}
.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}


.manual-btn:not(:last-child){
  margin-right: 20px;
}
.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

.titulo-lavatorio{
  margin-left: 14.5%;
  margin-top: 3%;
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .titulo-lavatorio{
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
    margin-left: 2%;
  }
  .paragrafo-lavatorio{
    margin-top: 2%;
  }
  
}

@media (max-width: 768px) {
  .RETANGULO2{
    top: 260%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
}

.paragrafo-lavatorio{
  font-weight: 350; /* Peso leve para a fonte */
  font-size: 1.2rem;
  margin-left: 12%;
  position: absolute;
  text-align: center;
}

.RETANGULO2 {
  color: aliceblue;
  background-color: #2B2621; /* Define a cor de fundo */
  position: absolute; /* Permite posicionamento preciso */
  left: 14%; /* Centraliza o elemento horizontalmente */
  margin-top: 6%;
  font-size: 20px;
  font-weight: 500; /* Define peso da fonte */
  height: 60px;
  width: 180px;
  text-align: center; /* Centraliza o texto horizontalmente */
  line-height: 50px; /* Centraliza o texto verticalmente */
  cursor: pointer; /* Mostra o cursor de clique */
}
